annotated-types==0.7.0
asgiref==3.8.1
beautifulsoup4==4.13.4
certifi==2025.11.12
chardet==5.2.0
colorama==0.4.6
distlib==0.3.8
Django==4.2.23
django-bootstrap-v5==1.0.11
django-bootstrap5==25.1
django-jazzmin==3.0.1
django-widget-tweaks==1.5.0
filelock==3.16.1
gunicorn==23.0.0
mysqlclient==2.2.7
packaging==25.0
pillow==11.2.1
pipenv==2025.0.4
platformdirs==4.3.6
pydantic==2.11.7
pydantic_core==2.33.2
qrcode==8.2
reportlab==4.4.1
segno==1.6.6
setuptools==80.9.0
soupsieve==2.7
sqlparse==0.5.3
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
virtualenv==20.26.5
