{% extends 'base.html' %}

{% block title %}Menu Page{% endblock %}

{% block content %}
<section class="container">
    <h1>This is our menu page</h1>
    <div class="card">
      <div class="card-header">
        <p class="card-title">{{ menu_title }}</p>
      </div>
      <div class="card-body">
        <p class="card-text">{{ menu_price }}</p>
      </div>
    </div>
</section>
<section class="container">
  <h2>This is our menu form demo</h2>
  <form>
    {{ form }}
    <button class="btn btn-sm btn-block btn-primary mt-3" type="submit">Submit</button>
  </form>
</section>
{% endblock %}