{% extends 'base.html' %}

{% block title %} Create Menu {% endblock %}

{% block content %}
<section class="container">
    <h1>Add Menu for Restaurant</h1>
    <hr>
    <h3 class="text-center">
        <a href="{% url 'menu.list' %}" class="btn btn-info btn-sm">View Menu List</a>
    </h3>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form method="POST" action="#">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary">Create Menu</button>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</section>
{% endblock %}