{% extends 'base.html' %}

{% block title %} Menu List {% endblock %}

{% block content %}
<section class="container">
    <h1 class="text-center">All Menus List for Restaurant</h1>
    <h3 class="text-center">Total Menus: {{ menus.count }}</h3>
    <hr>
    <h3 class="text-center d-flex justify-content-around mb-3">
        <a href="{% url 'menu.create' %}" class="btn btn-info btn-sm">Add New Menu</a>
        <form action="#" method="GET">
            <div class="form-group d-flex flex-row gap-3">
                <input type="text" name="search" class="form-control" placeholder="Search Menu">
                <button type="submit" class="btn btn-primary">Search</button>
                <a href="{% url 'menu.list' %}" class="btn btn-secondary">Clear</a>
            </div>
        </form>
    </h3>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <table class="table table-responsive table-hover table-border">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- will execute for loop to show the list of menus -->
                     {% for data in menus %}
                     <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ data.menu_title }}</td>
                        <td>{{ data.menu_category.category_name }}</td>
                        <td>{{ data.menu_price }}</td>
                        <td><a href="{% url 'menu.detail' pk=data.id %}" class="btn btn-sm btn-success">Detail</a></td>
                        <td><a href="{% url 'menu.edit' pk=data.id %}" class="btn btn-sm btn-primary">Edit</a></td>
                        <td><a href="{% url 'menu.delete' pk=data.id %}" class="btn btn-sm btn-danger">Delete</a></td>
                     </tr>
                     {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-2"></div>
    </div>
</section>
{% endblock %}